*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.title {
  text-align: center;
  margin: 2rem 0;
}

.form-input {
  display: flex;
  justify-content: center;
}

.form-input input {
  width: 50%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 1rem;
  height: 40px;
}

.form-input button {
  height: 40px;
  margin-left: 1%;
  background-color: black;
  font-weight: bold;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 15%;
}

.list-items {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

table {
  width: 40%;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

table thead {
  background-color: white;
  color: black;
}

table thead th {
  font-weight: bolder;
}

table tbody tr:nth-child(odd) {
  background-color: black;
  color: white;
}
a { 
  text-decoration: none;
  color:white;
}
